# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore composer vendor folder
/vendor/
/framework/
/cms/
#/assets/
/siteconfig/
/reports/

# ignore temp/dev/test packages
/debugbar


# 3rd-party packages
/undefinedoffset/sortablegridfield/
/ryanpotter/silverstripe-cms-theme/
/colymba/gridfield-bulk-editing-tools/
/unclecheese/mock-dataobjects/
/unclecheese/betterbuttons/
/nathancox/sortableuploadfield/
/symbiote/silverstripe-multivaluefield/
/silverstripe/newsletter/
/markguinn/silverstripe-email-helpers/
/lekoala/silverstripe-sparkpost/
/sheadawson/silverstripe-select2/
/silverstripe/recaptcha/
/innoweb/silverstripe-social-share/
/heyday/silverstripe-optimisedimage/
